<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/public/style.css">
        <link href="https://fonts.googleapis.com/css?family=Carter+One" rel="stylesheet">
        <title>dirk_diggler</title>
    </head>
    <body>

        <div class="body-container">
            {{{body}}}
        </div>


    </body>
</html>
