<div class="title-login">
    <h1>release</h1>
    <h1>dirk's</h1>
    <h1>album!</h1>
</div>

<div class="dirk-bar-login">
    <img src="http://img.wennermedia.com/social/rs-129459-20070626-boogienights-x1800-1393282733.jpg" alt="dirk-bar">
</div>

<!-- <a class="logout logout-slide" href="/signers"><- back</a> -->

<audio src="/public/audio/you-got-the-touch.mp3" loop></audio>

<img class="groove" src="https://themoviereport.files.wordpress.com/2015/05/boogie-nights.gif" alt="groove">

<div class="names">
    {{#each names}}
        <p class="name">{{myHelper2 this}}{{myHelper1 this}}</p>
    {{/each}}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/public/signers.js"></script>
